name: "Deploy Torn Faction Comparer"

env:
  PROJECT_PATH: Torn.FactionComparer.App\Torn.FactionComparer.App.csproj

on:
  push:
    branches: [ "master" ]
    
jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0
      
      - name: Restore Nugets
        run: dotnet restore ${{env.PROJECT_PATH}}
       
      - name: Build
        run: dotnet build ${{env.PROJECT_PATH}} -c Release --no-restore
        
      - name: Publish
        run: dotnet publish ${{env.PROJECT_PATH}} -c Release --self-contained -r win-x64 -p:PublishSingleFile=true --no-build
